.charity-container {
  padding: 20px;
  background-color: #f5f5f5;
  height: 100vh;
  box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.charity-container h2{
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
  color: black;
}
.charity-container  p{
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
  color: black;
}
.charity-container h2{
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
  color: #333;
}
.charity-container  p{
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
  color: #333;
}
.featured-charities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.charity {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
  overflow: hidden;
  width: 98% !important;
}

.charity:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.charity-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}
.charity-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.charity-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.charity-info p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
  padding: 0.5rem;

}

.donate-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.donate-button:hover {
  background-color: #0062cc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: var(--text-color-light);
}
/* For screens smaller than 768px */
@media (max-width: 767px) {
  .charity-container {
    height: auto;
  }
  .featured-charities {
    flex-direction: column;
    align-items: center;
  }

  .charity {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }
}

/* For screens larger than 768px */
@media (min-width: 768px) {
  .charity-container {
    height: auto;
  }
  .featured-charities {
    justify-content: center;
  }

  .charity {
    width: calc(33.33% - 20px);
    margin-right: 20px;
  }

  .charity:last-child {
    margin-right: 0;
  }
}
