/* Popular Causes Section */
.popular-causes {
  padding: 50px 0;
  margin: 0 auto;
}

.popular-causes h2,
.popular-causes p {
  text-align: center;
  color: black;
}
.popular-causes p {
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto 50px;
}
 .cause-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch; /* Updated */
  gap: 20px;
  margin-top: 20px;
}

.cause-card {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.cause-card:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.cause-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.cause-card h3 {
  font-size: 24px;
  font-weight: 600;
  margin: 20px;
}

.cause-card p {
  font-size: 16px;
  margin: 0 20px 20px;
  line-height: 1.5;
}

.donate-button {
  display: block;
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  background-color: #1565c0;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* For screens smaller than 992px */
@media (max-width: 991px) {
  .cause-cards {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
  }

  .cause-card {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }
}
