:root {
  --text-color: #333;
}

.equipment-donation-form {
  padding: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  animation: slide-up 1s ease;
}

.equipment-donation-form label {
  display: block;
  font-size: 18px;
  color: var(--text-color);
  margin-bottom: 5px;
}

.equipment-donation-form input[type="text"],
.equipment-donation-form input[type="email"] {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 10px;
  color: var(--text-color);
  font-size: 16px;
}

.equipment-donation-form input[type="text"]:focus,
.equipment-donation-form input[type="email"]:focus {
  outline: none;
  border: 2px solid #6e6c6c;
}

.equipment-donation-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  color: var(--text-color);
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7.406 10.781L12 15.375l4.594-4.594L18 12.188l-6 6-6-6z' fill='%23333'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.equipment-donation-form select:focus {
  outline: none;
  border: 2px solid #6e6c6c;
}