/* Define your root variables */

:root {
  /* Primary Colors */
  --primary-color: #e64a19;
  --primary-color-light: #ff8a65;
  --primary-color-dark: #bf360c;

  /* Secondary Colors */
  --secondary-color: #1565c0;
  --secondary-color-light: #5e92f3;
  --secondary-color-dark: #003c8f;

  /* Text Colors */
  --text-color: #333;
  --text-color-light: #fff;
  --text-color-muted: #888;
}

/* Define your styles for larger screens */

.hero-container {
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 9rem auto;
}
.hero-text-container {
  margin-top: 5rem;
  display: flex;
  min-width: 100%;
  flex-direction: column;
  color: black;
  transition: transform 0.5s ease-in-out;
}
.slider {
  display: flex;
  overflow: hidden;
}
.slide-animation .hero-text-container {
  transform: translateX(-100%);
}
.hero-title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.hero-quote {
  font-size: 1.5rem;
  font-style: italic;
  max-width: 40%;
  margin-bottom: 3rem;
}

.hero-button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color-light);
  background-color: var(--secondary-color);
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  width: 200px;
  text-align: center;
  border: none;
  text-decoration: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 25%) 8px 16px 16px;
}

.hero-button:hover {
  background-color: var(--secondary-color-dark);
  color: #fff;
}

.hero-avatar {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  max-width: 600px;
  top: -20px;
}

/* Define your styles for smaller screens */

@media screen and (max-width: 768px) {
  .hero-container {
    height: auto;
    flex-direction: column;
    margin: 5rem auto;
    width: 90%;
  }

  .hero-title {
    font-size: 2rem;
    text-align: center;
  }

  .hero-quote {
    font-size: 1.2rem;
    max-width: 80%;
    text-align: center;
    margin-bottom: 2rem;
    margin: 0 auto;
  }

  .hero-avatar {
    width: 90%;
    position: static;
    margin-top: 2rem;
  }

  .hero-button {
    width: 90%;
    margin: auto;
  }
}
