/* Style for the login form */
.login-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

.login-image img {
  max-width: 100%;
  height: auto;
}

.login-form {
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  animation: slide-up 1s ease;
}

.login-form h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-group input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #f7f7f7;
  color: #555;
}

.btn-login {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #1565c0 !important;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-login:hover {
  background: #003c8f !important;
}

.btn-google {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #fff !important;
  color: #555;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-google i {
  color: #dd4b39 !important;
  padding: 0 10px 0 0;
}

.btn-google:hover {
  background: #eee !important;
}

.forgot-password-link a {
  text-decoration: none;
  color: #1565c0;
}

.forgot-password-link a:hover {
  text-decoration: underline;
}

.create-account-link a {
  text-decoration: none;
  color: #1565c0;
}

.create-account-link a:hover {
  text-decoration: underline;
}

.divider {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}

.divider:before {
  content: "";
  display: block;
  border-top: 1px solid #ccc !important;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: -1;
}

/* Animations */
@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .login-form {
    max-width: 100%;
    max-height: 100vh;
  }
}

@media screen and (max-width: 480px) {
  .login-form {
    max-width: 100%;
  }
}
