.category-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.category-grid a {
  text-decoration: underline;
}

.category-grid p {
  margin-left: 20px;
}

.category-heading {
  display: flex;
  justify-content: center;
  margin: 100px 0 40px 0;
  font-size: 35px;
  font-weight: bold;
}

.medical-donate {
  width: 100%;
  color: #ffff;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.medical-donate button {
  width: 300px;
  height: 50px;
  border-radius: 5px;
}

@media screen and (max-width: 786px) {
  .category-grid {
    grid-template-columns: none;
  }

  .category-grid p {
    margin-top: 20px;
  }

  .medical-donate button {
    width: 250px;
  }
}

@media screen and (max-width: 640px) {
  .medical-donate button {
    width: 200px;
  }
}

@media screen and (max-width: 520px) {
  .medical-donate button {
    width: 150px;
    height: 60px;
  }
}

@media screen and (max-width: 390px) {
  .category-heading {
    font-size: 25px;
  }
  
  .medical-donate button {
    width: 100px;
  }
}