.organ-donation-header h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}

.medical-donate {
  width: 100%;
  color: #ffff;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.medical-donate button {
  width: 400px;
  height: 50px;
  border-radius: 5px;
}

.donation-requests {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  margin-top: 1.25rem;
}

@media screen and (max-width: 640px) {
  .organ-donation-header img {
    max-width: 300px;
  }

  .medical-donate button {
    font-size: 13px;
  }
}

@media screen and (max-width: 584px) {
  .donation-requests {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media screen and (max-width: 350px) {
  .organ-donation-header img {
    max-width: 250px;
  }
}