@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: F8F8F8;
}

@layer components {
  .medical-profile{
    @apply p-4 w-[100%] max-w-[800px] bg-white rounded-[5px] mt-28 mb-auto shadow-[0_5px_20px_rgba(0,0,0,0.3)]
  }
  .medical-profile-header{
    @apply text-center mb-8
  }

  .medical-profile-info{
    @apply p-4 text-[18px]
  }

  .category-info{
    @apply text-[18px]
  }
  
  .category-info img{
    @apply  rounded-[10px] border-[10px] 
  }
}